.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1rem;
}

.navbar span {
    /* color: whitesmoke; */
    letter-spacing: 3px;
    font-size: 1.2rem;
}

.navlist {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navlist a {
    text-decoration: none;
    color: whitesmoke;
}

.navlist .active {
    color: #c23373;
    border-bottom: 1px solid #c23373;
}